html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://s1.pictoa.com/media/galleries/084/062/08406255682292ad35f/150313455682292de851.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 1rem 0;
  line-height: 1.5;
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background: none !important;
        backdrop-filter: blur(10px);
        box-shadow: 0 .5em 1em hsla(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-invert-l),.1);
        padding: .5rem 0;
    }
}
.box {
    background: #ffffff55 !important;
    backdrop-filter: blur(10px);
}
.button.is-primary {
    background: #f02a3e !important;
}
.button.is-primary:hover {
    background: #db3a4a !important;
}